<h1>Bienvenido</h1>
<p>A través de este Sitio Web,  podrá aprovechar las funcionalidades de Clever DNS,  tanto para personalizar las peticiones de dominio,  
como para realizar un ABM sobre los registros de dominios internos. Gracias por utilizar nuestro sistema.</p>
